<!DOCTYPE html>
<html>
  <head>
    <title>dog App</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Dog App</h1>
      <form action="/dog" method="get">
        <input type="text" name="breed" placeholder="Digite uma raça" />
        <button type="submit">Buscar</button>
      </form>
      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } else if (dog) { %>
      <div class="card">
        <!-- Add your dog data here -->
        <p>   
          <p> Raça: <%=breed%> </p>    
          <img class="image" src=" <%=dog.message[0]%>" alt="">
        </p>
      </div>
      <% } %>
    </div>
  </body>
</html>