<!DOCTYPE html>
<html>
  <head>
    <title>dog App</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Dog App using NodeJS</h1>
      <form action="/dog" method="get">
        <input type="text" name="breed" placeholder="Enter dog name" />
        <button type="submit">Get dog</button>
      </form>
      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } else if (dog) { %>
      <div class="card">
        <!-- Add your dog data here -->
        <p>       
          <img src=" <%=dog.message[1]%>" alt="Descrição da imagem">
        </p>
      </div>
      <% } %>
    </div>
  </body>
</html>