<!DOCTYPE html>
<html>
  <head>
    <title>Dog App</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="icon" href="https://icones.pro/wp-content/uploads/2021/11/icone-de-chien-assis-vert.png">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1><i class="fas fa-dog"></i> Dog App</h1>
      <form action="dog" method="get">
        <select name="breed">
          <option value="">Selecione uma raça</option>
          <% breeds.forEach(breed => { %>
            <option value="<%= breed %>"><%= breed %></option>
          <% }) %>
        </select>
        <input type="text" name="customBreed" placeholder="Qual a raça de cachorro ?" />
        <button type="submit"><i class="fas fa-paw"></i> Pesquisar</button>
      </form>
      <% if (error) { %>
        <p class="error"><%= error %></p>
      <% } else if (dog) { %>
        <div class="card">
          <img src="<%= dog.message %>" alt="Dog Image">
        </div>
      <% } %>
    </div>
  </body>
</html>